/* ========= NEWS ========= */
.news_main {
    padding-top: 1vw;
    .news_section1 {
        width: 100%;
        /* GRID SYSTEM */
        .grid-container {
            padding: 5px 0.5vw 0 0.5vw;
            max-width: 120rem;
            min-height: 20cm;
        }
        .col-sm-4 {
            height: auto;
            min-height: 233.05px;
            width: auto;
            min-width: 316.81px;
            max-width: 569.59px;
            padding: 0 0.6944rem 0 0.6944rem;
            flex: auto;
        }
    }
}

/* ========= END NEWS ========= */
