/*================== IMPORT LOCAL FONT ================*/
@font-face {
    font-family: "BourgeoisW00-Medium";
    src: url("../assets/fonts/Bourgeois\ W00\ Medium.woff") format("woff");
}
@font-face {
    font-family: "BourgeoisW00-Ultra";
    src: url("../assets/fonts/Bourgeois\ W00\ Ultra.woff") format("woff");
}
@font-face {
    font-family: "BourgeoisW00-UltraAlt";
    src: url("../assets/fonts/Bourgeois\ W00\ Ultra\ Alt.woff") format("woff");
}
@font-face {
    font-family: "Geom Graphic W03 Regular";
    src: url("../assets/fonts/Geom\ Graphic\ W03\ Regular.woff") format("woff");
}
/*================== END IMPORT LOCAL FONT ================*/