/*================== VARIABLES ================*/
$color-header: #000b28;
$border-orange: 3px solid #faa41a;
$border-cyan: 3px solid #00d8e6;
$color-white: #ffffff;
/*=============== END VARIABLES ===============*/